<div class="conatiner">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12  col-xxl-12 text-center">
                    <br><h2>Administrator Login</h2>
                    </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 ">
                    <label for="" class="form-label">Username</label>
                    <input name="username" [(ngModel)]="username" type="text" name="" id="" class="form-control">                   
                 </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">password</label>
                    <input name="password" [(ngModel)]="password" type="password" name="" id="" class="form-control">

                </div>
               
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <button (click)="readValues()"  class="btn btn-primary">Login</button>

                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xl-12 col-xxl-12 text-center">

                    <a routerLink="/employeelogin">User Login</a>
                  
                  </div>
            </div>
        </div>
    </div>
</div>